.admin-panel {
    padding: 30px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    gap: 20px;
}

.header {
    display: flex;
    align-items: center;
    gap: 12px;
}

.logo {
    height: 50px;
}

.top-bar {
    display: flex;
    justify-content: flex-end;
    gap: 20px;
}

.user-label {
    font-weight: bold;
}

.logout-btn {
    padding: 8px 14px;
    border-radius: 8px;
    cursor: pointer;
    background: transparent;
    color: #94a3b8;
    border: 1px solid #334155;
}

.logout-btn:hover {
    color: #f8fafc;
    border-color: #f8fafc;
}

.admin-menu {
    display: flex;
    gap: 15px;
}

.menu-item {
    padding: 10px 16px;
    cursor: pointer;
    background: #1e293b;
    border: 1px solid #334155;
    border-radius: 8px;
    color: #94a3b8;
    font-weight: 600;
}

.menu-item:hover {
    color: #3b82f6;
    border-color: #3b82f6;
}

#sortSelect {
    width: 400px;
}

#sortCars{
    width: 400px;
}

#sortBookings{
    width: 400px;
}

#sortBookings{
    width: 400px;
}

.sorting-bar {
}
.admin-content {
    background: #1e293b;
    border: 1px solid #334155;
    border-radius: 12px;
    padding: 20px;
    font-size: 18px;
    flex: 1;
}

.user-titles,
.user-row {
    display: grid;
    grid-template-columns: 60px 320px 150px 150px 150px 150px;
    padding: 10px 0;
    border-bottom: 1px solid #334155;
}

.car-titles,
.car-row {
    display: grid;
    grid-template-columns: 40px 100px 100px 80px 60px 1.2fr 2fr 2fr 1fr;
    padding: 10px 0;
    border-bottom: 1px solid #334155;
}

.booking-titles,
.booking-row {
    display: grid;
    grid-template-columns: 60px 80px 150px 150px 140px 140px 100px;
    padding: 10px 0;
    border-bottom: 1px solid #334155;
}

.user-titles,
.car-titles,
.booking-titles {
    font-weight: bold;
    color: #3b82f6;
}

.car-image {
    width: 120px;
    height: 70px;
    object-fit: cover;
    border-radius: 6px;
}

.footer {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
}

.styleguide-link {
    justify-self: start;
    padding: 8px 14px;
    background: white;
    color: black;
    text-decoration: none;
    border-radius: 6px;
}

.footer img {
    justify-self: center;
    width: 600px;
    height: 170px;
}




